.button{
    color: white;
    margin: 1rem;
    padding: 0.5rem 2rem;
    font-weight: bold;
    background-color: rgb(48, 148, 53);
    border-radius: 50px;
    font-size: 1.5rem;
    border: none;
}