.button{
    color: white;
    margin: 1rem;
    padding: 0.5rem 2rem;
    font-weight: bold;
    background-color: rgb(148, 48, 48);
    border: none;
    border-radius: 50px;
    font-size: 1.5rem;
}